In [7]:
import os
os.getcwd()

'C:\\Users\\kamatam niharika'

In [8]:
os.chdir("C:/Users/kamatam niharika/Desktop/Datasets")

In [9]:
import numpy as np
import pandas as pd
data=pd.read_csv("turnover.csv")
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low
15,0.38,0.54,2,143,3,0,1,0,sales,low
16,0.45,0.47,2,160,3,0,1,0,sales,low
17,0.78,0.99,4,255,6,0,1,0,sales,low
18,0.45,0.51,2,160,3,1,1,1,sales,low
19,0.76,0.89,5,262,5,0,1,0,sales,low
20,0.11,0.83,6,282,4,0,1,0,sales,low
21,0.38,0.55,2,147,3,0,1,0,sales,low
22,0.09,0.95,6,304,4,0,1,0,sales,low
23,0.46,0.57,2,139,3,0,1,0,sales,low
24,0.40,0.53,2,158,3,0,1,0,sales,low
25,0.89,0.92,5,242,5,0,1,0,sales,low
26,0.82,0.87,4,239,5,0,1,0,sales,low
27,0.40,0.49,2,135,3,0,1,0,sales,low
28,0.41,0.46,2,128,3,0,1,0,accounting,low
29,0.38,0.50,2,132,3,0,1,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
14969,0.43,0.46,2,157,3,0,1,0,sales,medium
14970,0.78,0.93,4,225,5,0,1,0,sales,medium
14971,0.39,0.45,2,140,3,0,1,0,sales,medium
14972,0.11,0.97,6,310,4,0,1,0,accounting,medium
14973,0.36,0.52,2,143,3,0,1,0,accounting,medium
14974,0.36,0.54,2,153,3,0,1,0,accounting,medium
14975,0.10,0.79,7,310,4,0,1,0,hr,medium
14976,0.40,0.47,2,136,3,0,1,0,hr,medium
14977,0.81,0.85,4,251,6,0,1,0,hr,medium
14978,0.40,0.47,2,144,3,0,1,0,hr,medium
14979,0.09,0.93,6,296,4,0,1,0,technical,medium
14980,0.76,0.89,5,238,5,0,1,0,technical,high
14981,0.73,0.93,5,162,4,0,1,0,technical,low
14982,0.38,0.49,2,137,3,0,1,0,technical,medium
14983,0.72,0.84,5,257,5,0,1,0,technical,medium
14984,0.40,0.56,2,148,3,0,1,0,technical,medium
14985,0.91,0.99,5,254,5,0,1,0,technical,medium
14986,0.85,0.85,4,247,6,0,1,0,technical,low
14987,0.90,0.70,5,206,4,0,1,0,technical,low
14988,0.46,0.55,2,145,3,0,1,0,technical,low
14989,0.43,0.57,2,159,3,1,1,0,technical,low
14990,0.89,0.88,5,228,5,1,1,0,support,low
14991,0.09,0.81,6,257,4,0,1,0,support,low
14992,0.40,0.48,2,155,3,0,1,0,support,low
14993,0.76,0.83,6,293,6,0,1,0,support,low
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [10]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [11]:
data.cov()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
satisfaction_level,0.061817,0.004469,-0.043814,-0.248945,-0.036618,0.005133,-0.041128,0.000919
last_evaluation,0.004469,0.029299,0.073703,2.904356,0.032888,-0.000428,0.000479,-0.000214
number_project,-0.043814,0.073703,1.519284,25.683271,0.354166,-0.002055,0.012488,-0.001078
average_montly_hours,-0.248945,2.904356,25.683271,2494.313175,9.316364,-0.178169,1.516419,-0.025541
time_spend_company,-0.036618,0.032888,0.354166,9.316364,2.131998,0.001089,0.090066,0.014206
Work_accident,0.005133,-0.000428,-0.002055,-0.178169,0.001089,0.123706,-0.023163,0.001992
left,-0.041128,0.000479,0.012488,1.516419,0.090066,-0.023163,0.181411,-0.003797
promotion_last_5years,0.000919,-0.000214,-0.001078,-0.025541,0.014206,0.001992,-0.003797,0.020817

In [12]:
data.corr()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
satisfaction_level,1.000000,0.105021,-0.142970,-0.020048,-0.100866,0.058697,-0.388375,0.025605
last_evaluation,0.105021,1.000000,0.349333,0.339742,0.131591,-0.007104,0.006567,-0.008684
number_project,-0.142970,0.349333,1.000000,0.417211,0.196786,-0.004741,0.023787,-0.006064
average_montly_hours,-0.020048,0.339742,0.417211,1.000000,0.127755,-0.010143,0.071287,-0.003544
time_spend_company,-0.100866,0.131591,0.196786,0.127755,1.000000,0.002120,0.144822,0.067433
Work_accident,0.058697,-0.007104,-0.004741,-0.010143,0.002120,1.000000,-0.154622,0.039245
left,-0.388375,0.006567,0.023787,0.071287,0.144822,-0.154622,1.000000,-0.061788
promotion_last_5years,0.025605,-0.008684,-0.006064,-0.003544,0.067433,0.039245,-0.061788,1.000000

In [13]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [14]:
data.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [15]:
data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [16]:
data.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
left                       int64
promotion_last_5years      int64
sales                     object
salary                    object
dtype: object

In [17]:
data['number_project'].unique()

array([2, 5, 7, 6, 4, 3], dtype=int64)

In [18]:
data[6:18]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low
15,0.38,0.54,2,143,3,0,1,0,sales,low
16,0.45,0.47,2,160,3,0,1,0,sales,low
17,0.78,0.99,4,255,6,0,1,0,sales,low

In [19]:
import pandas as pd
mean_sales=data['time_spend_company'].mean()
mean_sales

3.498233215547703

In [20]:
data.pivot_table(data,index=['number_project'])

,Work_accident,average_montly_hours,last_evaluation,left,promotion_last_5years,satisfaction_level,time_spend_company
number_project,,,,,,,
2,0.092965,160.342546,0.568505,0.656198,0.015494,0.478769,3.180486
3,0.175092,197.507522,0.716572,0.017756,0.023428,0.687670,3.286560
4,0.156472,205.122108,0.740009,0.093700,0.026804,0.695132,3.454983
5,0.150670,212.061572,0.762010,0.221659,0.018109,0.678888,3.800072
6,0.114140,238.694208,0.786550,0.557922,0.017036,0.273458,4.192504
7,0.015625,276.078125,0.859609,1.000000,0.000000,0.118711,4.113281

In [21]:
data[data['sales'].str.contains('technical')&data['salary'].str.contains('medium')]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
113,0.90,0.96,4,258,5,0,1,0,technical,medium
114,0.84,1.00,5,234,5,0,1,0,technical,medium
115,0.37,0.48,2,137,3,0,1,0,technical,medium
116,0.86,0.68,5,263,2,0,1,0,technical,medium
188,0.37,0.55,2,152,3,0,1,0,technical,medium
191,0.92,0.87,4,226,6,1,1,0,technical,medium
192,0.74,0.91,4,232,5,0,1,0,technical,medium
193,0.09,0.82,6,249,4,0,1,0,technical,medium
194,0.89,0.95,4,275,5,0,1,0,technical,medium
265,0.84,0.93,4,251,5,0,1,0,technical,medium
266,0.11,0.95,6,286,4,0,1,0,technical,medium
269,0.38,0.86,6,139,6,0,1,0,technical,medium
270,0.44,0.51,2,127,3,0,1,0,technical,medium
271,0.11,0.84,6,251,4,0,1,0,technical,medium
272,0.81,0.93,5,270,5,0,1,0,technical,medium
310,0.10,0.93,7,305,4,0,1,0,technical,medium
341,0.37,0.47,2,141,3,0,1,0,technical,medium
342,0.90,1.00,5,232,5,0,1,0,technical,medium
343,0.41,0.56,2,143,3,0,1,0,technical,medium
344,0.37,0.52,2,155,3,0,1,0,technical,medium
347,0.11,0.80,6,282,4,0,1,0,technical,medium
348,0.11,0.84,7,264,4,0,1,0,technical,medium
349,0.40,0.46,2,149,3,0,1,0,technical,medium
350,0.09,0.80,6,304,5,0,1,0,technical,medium
386,0.10,0.93,6,298,4,0,1,0,technical,medium
417,0.11,0.90,6,264,4,0,1,0,technical,medium
418,0.42,0.53,3,199,4,0,1,0,technical,medium
419,0.82,0.85,4,223,5,0,1,0,technical,medium
420,0.09,0.96,6,268,4,0,1,0,technical,medium
421,0.10,0.94,6,287,4,0,1,0,technical,medium
...,...,...,...,...,...,...,...,...,...,...
14781,0.44,0.52,2,137,3,0,1,0,technical,medium
14782,0.73,1.00,4,252,5,0,1,0,technical,medium
14783,0.75,0.97,5,243,6,0,1,0,technical,medium
14784,0.36,0.47,2,148,3,0,1,0,technical,medium
14785,0.37,0.49,2,151,3,0,1,0,technical,medium
14786,0.39,0.49,2,129,3,0,1,0,technical,medium
14787,0.48,0.78,2,198,2,0,1,0,technical,medium
14788,0.57,0.72,4,275,6,0,1,0,technical,medium
14789,0.90,0.96,5,243,5,0,1,0,technical,medium
14825,0.09,0.90,7,296,4,0,1,0,technical,medium
14856,0.40,0.54,2,141,3,0,1,0,technical,medium
14857,0.51,0.83,5,249,4,0,1,0,technical,medium
14858,0.46,0.50,2,151,3,0,1,0,technical,medium
14859,0.45,0.54,2,129,3,0,1,0,technical,medium
14860,0.46,0.50,2,156,3,0,1,0,technical,medium
14861,0.39,0.45,2,134,3,0,1,0,technical,medium
14862,0.09,0.88,6,269,4,0,1,0,technical,medium
14863,0.09,0.77,6,290,4,0,1,0,technical,medium
14864,0.37,0.51,2,132,3,0,1,0,technical,medium
14865,0.10,0.89,7,308,4,0,1,0,technical,medium
14866,0.77,1.00,4,232,5,0,1,0,technical,medium
14904,0.44,0.56,2,133,3,0,1,0,technical,medium
14905,0.11,0.77,6,247,4,0,1,0,technical,medium
14906,0.79,0.93,5,268,5,0,1,0,technical,medium
14907,0.80,0.90,5,267,5,0,1,0,technical,medium
14979,0.09,0.93,6,296,4,0,1,0,technical,medium
14982,0.38,0.49,2,137,3,0,1,0,technical,medium
14983,0.72,0.84,5,257,5,0,1,0,technical,medium
14984,0.40,0.56,2,148,3,0,1,0,technical,medium
14985,0.91,0.99,5,254,5,0,1,0,technical,medium